<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
   <body class="hmmessage" style="background-color: #f5f3f0;">

      <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#f5f3f0;border-bottom:1px solid #dcdad8;">
         <tbody>
            <tr>
               <td>
                  <table class="body" height="40" width="620" align="center" border="0" cellpadding="0" cellspacing="0" >
                     <tbody>
                        <tr>
                           <td>
                              <table class="ecxmodule" width="600" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
                                 <tbody>
                                    <tr>
                                       <td align="left" valign="bottom" height="30">
                                          <a href="http://mel.ambiente.gob.ar/" title="MEL" target="_blank">
                                          <img width="97" height="25" border="0" src="{img_path}logo_mel.gif" alt="MEL" style="-ms-interpolation-mode:bicubic;text-decoration:none;display:block;color:#cb2027;font-size:20px;">
                                          </a>
                                          <div style="height:10px;font-size:10px;line-height:10px;">&nbsp;</div>
                                       </td>
                                       <td align="right" valign="bottom" width="90" height="50" style="font-family:helvetica neue,helvetica,arial,sans-serif;color:#666666;line-height:15px;font-size:12px;text-align:left;">

                                          <div style="height:10px;font-size:10px;line-height:10px;">&nbsp;</div>
                                       </td>
                                       <td align="right" valign="bottom" width="64" >
                                          <img width="164" height="41" border="0" src="{img_path}LogoDRP.png" style="vertical-align:bottom;-ms-interpolation-mode:bicubic;text-decoration:none;display:block;">
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
         </tbody>
      </table>

      <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#f5f3f0;">
         <tbody>
            <tr>
               <td>
                  <table class="body" width="620" align="center" border="0" cellpadding="0" cellspacing="0">
                     <tbody>
                        <tr>
                           <td align="center">
                              <div style="height:20px;font-size:20px;">&nbsp;</div>
                              <br>
                              <div style="text-align:left;font-family:helvetica neue,helvetica,sans-serif;font-size:12px;">
                          	      {contenido}
                              </div>
                              <div style="height:30px;font-size:30px;">&nbsp;</div>

                              <table class="ecxmodule" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
                                 <tbody>
                                    <tr>
                                       <td>
                                          <table class="ecxlegal-footer" width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
                                             <tbody>
                                                <tr>
                                                   <td align="center" style="font-family:helvetica neue,helvetica,sans-serif;font-size:11px;color:#999999;line-height:18px;padding:0 50px 0 50px;">
												                            Secretar&iacute;a de Ambiente y Desarrollo Sustentable de la Naci&oacute;n
            													  <br>
            													  Direcci&oacute;n de Residuos Peligrosos
            													  <br>
            													  Manifiestos en L&iacute;nea (MEL)
                                                      <br><br>
                                                      San Mart&iacute;n 451 - C1004AAI
                                                      <br>
                                                      Ciudad de Buenos Aires - Argentina
                                                      <br>
                                                      Tel (54) (11) 4348 8200 - Fax (54) (11) 4348 8300
                                                      <br><br>
                                                      <!--<a href="#" style="color:#979797;text-decoration:underline;font-weight:bold;" target="_blank">Pol&iacute;tica de privacidad</a>
                                                      |
                                                      <a href="#" style="color:#979797;text-decoration:underline;font-weight:bold;" target="_blank">T&eacute;rminos y condiciones</a>-->
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="spacer" colspan="1" height="30" style="font-size:30px;line-height:30px;">&nbsp;</td>
                                    </tr>
                                 </tbody>
                              </table>

                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
         </tbody>
      </table>
       </body>
</html>